.officials{
	background-color: #6c757d;
    width: 80%;
    padding: 69px;
    margin: 0 auto;
}
.photo{
    width: 150px;
    height: 200px;
    padding: 13px;
}


/*
.keyofficials{
	height: 100%;
    width: 72%;
    margin: 0 auto;
    position: relative;
    top: 25px;
    background-color: rgba(186, 194, 197, 0.07);
}
.keyofficials>img{
	width: 180px;
    padding: 28px 20px 0px 44px;
    float: left;
}
.keyofficials>p{
	color: black;
	float: left;
	position: relative;
    top: 28px;
}
.keyofficials>h1{
	color: rgba(60, 51, 51, 0.86);
    font-weight: 100;
    font-family: fantasy;
    font-size: 20px;
    position: relative;
    top: 39px;
}


.keyofficials-m{
	height: 100%;
    width: 72%;
    margin: 0 auto;
    position: relative;
    top: 25px;
    background-color: rgba(186, 194, 197, 0.07);
}
.keyofficials-m>img{
	width: 200px;
    padding: 15px 15px 0px 37px;
    float: left;
}
.keyofficials-m>p{
	color: black;
	float: left;
	position: relative;
    top: 28px;
}
.keyofficials-m>h1{
	color: rgba(60, 51, 51, 0.86);
    font-weight: 100;
    font-family: fantasy;
    font-size: 20px;
    position: relative;
    top: 39px;
}

.key-heading{
	font-weight: 600;
    padding-left: 100px;
    color: #902013;
}*/