  nav.navbar{
      width: 477px;
      height: auto;
      background-color: #af4214a3;
      position: fixed;
      right: 26px;
      top: 27px; 
      z-index: 9;
      padding: inherit;
  }
  .navbar-light .navbar-nav .nav-link{
      color: rgba(239, 239, 239, 0.96);
      z-index: 9;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: azure;
  }
  ul.navbar-nav > li{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
  }