.downloads-link{
    color: darkblue;
}
.more-link{
    position: relative;
    left: 40px;
    font-family: -webkit-pictograph;
    color: #bf4e4e;
    font-weight: 600;
    text-decoration: underline;
}
.logo-text {
	display: inline-block;
    position: relative;
    top: 38px;
    right: 27px;
}
.tourist-text{
    width: 100%;
    height: 57px;
    background-color: #00000073;
    position: relative;
    bottom: 59px;
    color: white;
    padding: 16px;
    font-size: medium;
    font-weight: 600;
    font-family: -webkit-pictograph;
    text-transform: uppercase;
}

.banner-top{
    background-image: url(/images/tourist/sample.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    padding: 96px 0px 320px 0px;
    border-bottom: #e2ac46 solid 18px;
}

.logo-text > p{
	line-height: 8px;
}
.logo-text > p._1{
	font-family: fantasy;
    font-size: 22px;
    color: #b7641e;
}
.logo-text > p._2{
	font-family: initial;
    font-size: 40px;
}
.logo-text > p._3{
	padding-top: 3px;
}
.logo-text > hr._hr{
	border-bottom: 4px solid #a47b104a;
}
.transparency > h4{
	font-size: 16px;
}
#logo{
	width: auto;
}
.welcome-msg{
	text-align: justify;
}
.w-msg-header{
    color: #2285a2;
    font-weight: bold;
}
#banner{
    margin-bottom: 50px;
}
.pst{
    width: 239px;
    position: absolute;
    right: 0;
    top: 27px;
}