.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:2px 2px;
    margin:0px;
    border-bottom:1px dotted #555;
    height: 108px;
}
.news-item span
{
    font-size: 12px;
    color: #969494;
}
 
.news-item a {
	color: #b02b38;
  	text-align: justify;
	/*text-decoration: underline;*/
}
.news-item a:hover {
	color: #b02b38;
}